<nav data-bs-theme="dark" class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="{% url 'index' %}">RubikGT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RubikGT</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'productos' %}"> Productos</a>
          </li>

          {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones de administrador
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">
                <a class="nav-link active" aria-current="page" href="{% url 'listar_producto' %}"> administrar productos</a>
              </li>
              <li><a class="dropdown-item" href="#">
                <a class="nav-link active" aria-current="page" href="{% url 'listar_usuario' %}"> administrar usuarios</a>
              </li>
            </ul>
            
          {% endif %}
        
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cerrar_sesion' %}">salir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'carrito' %}"> carrito</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'mostrar_entrar' %}">Iniciar sesion</a>
          </li>
        {% endif %}
      </ul>
    </div>
    </div>
  </div>
</nav>


